*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    color: black;
    font-size: 1.rem;
}
p{
    text-align: justify;
 } 
.red-box{
    width: 40%;
    max-width: 300px;
    height: 500px;
    background-color: red;
    float: left;
    margin-right: 10px;
    padding: 9em;
    clear: both;

}
.blue-box{
    width: 40%;
    max-width: 300px;
    height: 500px;
    background-color: rgb(64, 64, 254);
    float: left;
    padding: 1em;
}

.top img{
    width: 50%;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}
.top p{
 
    background-color: bisque;
}

